<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{studenti}}
    Student dokument tablica ---
    {%for student_dokument in student_dokumenti%}
        {%if student_dokument.student.role == 'student' %}
             {{student_dokument.student.username}}
             {{student_dokument.student.id}}
        {%endif%}   
    {%endfor%}  

    Samo idjevi---
    {{Studenti_ids}}
    Sređeni idjevi---
    {{nova_lista}}
    
    {% for rezultat in rezultati %}
  <p>{{ rezultat }}</p>
{% endfor %}




 
   

    
    
    
</body>
</html>